<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chameleon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="!roomId">
            <button @click="newRoom">Start a new room</button>
            <form @submit.prevent="joinRoom">
                Room ID:
                <input type="text" v-model="roomIdInput" placeholder="abcdef" />
                <button type="submit">Join a room</button>
            </form>
        </div>

        <div v-else>
            <h1>Chameleon</h1>
            <p>
                Room ID: {{ roomId }}
                <button @click="leaveRoom">Leave room</button>
            </p>

            <p>Your secret is: <strong>{{ secret || '—' }}</strong></p>

            <button @click="newRound">New round with {{ numPlayers }} players</button>
        </div>
    </div>
</body>
<script src='client.js'></script>
</html>